{% macro show_error(field) %}

    {% if field.errors %}

        <div class="alert alert-danger" role="alert">

            {% for error in field.errors %}

                {{ error }}<br/>

            {% endfor %}

        </div>

    {% endif %}

{% endmacro %}

{% macro show_field(field) %}

        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {{ show_error(field) }}

{% endmacro %}
{% macro MostrarCampo(Campo) %}
{{Campo.label}}
{{Campo(**kwargs)}}
{{MostrarError(Campo)}}
{% endmacro %}

{% macro MostrarEnvio(Campo) %}
{{Campo(**kwargs)}}
{% endmacro %}

{% macro MostrarError(Campo) %}
{% if Campo.errors %}
{% for error in Campo.errors %}
{% endmacro %}

{% macro show_submit(field) %}

        {{ field(**kwargs)|safe }}

{% endmacro %}