
{% extends 'main.html' %}
{% from 'macros/form_macros.html' import show_field, show_submit %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
    
    <div class="container">
      <div class="d-flex justify-content-center bg-primary">
          <h3>Inicia sesion</h3>
      </div>
      <div class="d-flex justify-content-center mt-4">
          <div class="col-md-4 bg-warning p-4 rounded ">
              <form>
                <form class="pt-3" action="{{ url_for('main.login') }}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="mb-3">
                    <i class="far fa-envelope"></i>
                    <!--<label for="exampleInputEmail1" class="form-label">INDICA TU EMAIL</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">No compartiremos tu email con nadie</div> -->
                    {{ show_field(form.email, class='form-control', placeholder='Ingresa tu email') }}
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-key"></i>
                    <!--<label for="exampleInputPassword1" class="form-label">INDICA TU CONTRASEÑA</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">-->
                    {{ show_field(form.password, class='form-control', placeholder='Ingresa tu password') }}
                  </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Verificar</label>
      </div>
      <div class="d-grid">

          <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </div>
    </form>
    
    <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">¿Olvidaste tu contraseña?</button>
   
      </div>
    <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
      <a href="{{url_for('main.register')}}" class="btn btn-primary">
        ¿No tienes cuenta? Registrate
        <!-- <button type="button" class="btn btn-primary">¿No tienes cuenta? Registrate</button> -->

      </a>
     
      </div>
</div>
</div>


</div>
{% endblock %}
    

<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/fe4eb8c452.js" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>