{% extends 'main.html' %}
{% from 'macros/form_macros.html' import show_field, show_submit %}
        
{% block head %}
{{ super() }}
        
{% endblock %}
{% block content %}
    

  <div class="container">

				<div class="d-flex justify-content-center bg-primary">
					<h3>Bolsones en venta</h3>
				</div>
        
        <div class = "row">
          {% for bolson in bolsones %}
        <div class="col-md-4">
					<div class="card">
					  <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
					  <div class="d-grid gap-2">
					    <h5 class="card-title">{{ bolson['nombre'] }}</h5>
					    <a href="#" class="btn btn-primary">Ver mas informacion</a>
					    <div class="d-grid gap-2">
					    	<a href="#" class="btn btn-success">Comprar</a>
					   </div>
          </div>
          </div>
          </div>
          {% endfor %}
        </div>



          <!-- </div>
          <div class="col-md-4">
            <div class="card">
              <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
              <div class="d-grid gap-2">
                <h5 class="card-title">Bolson #1</h5>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-success">Comprar</a>
               </div>
               </div>
               </div>
         </div>
         <div class="col-md-4">
            <div class="card">
              <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
              <div class="d-grid gap-2">
                <h5 class="card-title">Bolson #1</h5>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-success">Comprar</a>
               </div>
               </div>
               </div> -->
         </div>
         


					

    </div>

      <div class="btn-toolbar d-flex justify-content-center mt-4" role="toolbar" aria-label="Toolbar with button groups" style= "width:100%">
        <div class="btn-group me-4" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" style="margin: 0 9px">1</button>
          <button type="button" class="btn btn-primary" style="margin: 0 9px">2</button>
          <button type="button" class="btn btn-primary" style="margin: 0 9px">3</button>
          <button type="button" class="btn btn-primary"style="margin: 0 9px">4</button>
          <button type="button" class="btn btn-primary"style="margin: 0 9px">5</button>
          <button type="button" class="btn btn-primary" style="margin: 0 9px">6</button>
          <button type="button" class="btn btn-primary" style="margin: 0 9px">...</button>
        </div>
      </div>
        
    
    
    
      <div class="d-flex justify-content-around mt-4">
        <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
            <a href="{{url_for('main.register')}}" class="btn btn-primary">
              Registrate
              <!-- <button type="button" class="btn btn-primary">Registrate</button> -->
      
            </a>
           
            </div>
            <a href="{{url_for('main.login')}}" class="btn btn-primary mt-4">
                Iniciar sesion
                <!-- <button type="button" class="btn btn-primary">¿Iniciar sesion</button> -->
        
              </a>
    </div>
</div>
{% endblock %} 
    
 