
{% extends 'main.html' %}
{% from 'macros/form_macros.html' import show_field, show_submit %}

{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

</nav>
    <div class="container">
      <div class="d-flex justify-content-center bg-success">
          <h3>Es hora de Registrarse...</h3>
      </div>
      <form class="pt-3" action="{{ url_for('main.register') }}" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="d-flex justify-content-center mt-4">
          <div class="col-md-4 bg-light p-4 rounded ">
              <form>
                  <div class="mb-3">
                    <i class="far fa-user"></i>
                    <!--<label for="exampleInputEmail1" class="form-label">INDICA TU NOMBRE</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    {{ show_field(form.nombre, class='form-control', placeholder='Ingresa tu nombre') }}
                  </div>
                  <div class="mb-3">
                    <i class="far fa-user"></i>
                    <!--<label for="exampleInputPassword1" class="form-label">INDICA TU APELLIDO</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"> -->
                    {{ show_field(form.apellido, class='form-control', placeholder='Ingresa tu apellido') }}
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-mobile"></i>
                    <!--<label for="exampleInputPassword1" class="form-label">INDICA TU TELEFONO</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"> -->
                    {{ show_field(form.telefono, class='form-control', placeholder='Ingresa tu telefono') }}
                  </div>
                  <div class="mb-3">
                    <i class="far fa-envelope"></i>
                    <!--<label for="exampleInputPassword1" class="form-label">INDICA TU EMAIL</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"> -->
                    {{ show_field(form.email, class='form-control', placeholder='Ingresa tu email') }}
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-key"></i>
                    <!--<label for="exampleInputPassword1" class="form-label">INGRESA UNA CONTRASEÑA</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"> -->
                    {{ show_field(form.password, class='form-control', placeholder='Ingresa tu password') }}
                  </div>
                  <div class="mb-3">
                    <i class="fas fa-key"></i>
                    <!-- <label for="exampleInputPassword1" class="form-label">CONFIRMA TU CONTRASEÑA</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"> -->
                    {{ show_field(form.confirm, class='form-control', placeholder='Confirma tu password') }}
                  </div>
      <div class="mb-3 form-check">
        
      </div>
      <div class="d-grid">

          <button type="submit" class="btn btn-success">Registrarse!!</button>
      </div>
    </form>
    
 
      </div>
</div>
</div>


</div>
{% endblock %}   
    

